In [1]:
setwd("C:/Users/ambalika.smiti/Desktop/Ambalika/OLA OFFICE WORK/Feedbacks_new")

In [24]:
data=read.csv("Driver_Profile_for_Quality_Analysis.csv")
data=data[,-c(20:23)]

In [26]:
nrow(data)
ncol(data)
head(data)

[1] 149367

[1] 19

  Driver_sugar_id                      DL_number        Driver_city
1 39c78410-5f47-4ca1-b285-312042e59cc8 WB01200804137326 Kolkata
2 26c03b70-3e79-4f74-9be6-15cabb0f2c2e MH1420080077995  Pune
3 55f4369a-e03e-486f-bcfd-4b4bde9b0002 TN0220060024403  Chennai
4 fb945193-39e2-40bd-ab7b-1836e1d7da9d MH1320100024711  Pune
5 216354d8-0e92-4200-99d1-565a2eb8a724 TN2520160002431  Bangalore
6 1bafcebd-a88e-4c3c-89cd-73be4d0973b2 TS00220140010081 Hyderabad
  Car          BAD_GUYS OLA_Score_45 Rides X12Rating UB   CQ   DP   UB12 CQ12
1 WB25G5108    0        8.44         196.3 5.3       2.00 1.00 1.00 1.00 0.67
2 MH12NX1416   0        9.00         196.0 4.0       3.33 1.33 2.00 1.33 0.33
3 TN11U8082    0        8.52         191.0 3.3       0.33 0.33 1.00 0.00 0.00
4 MH14GD2950   0        9.00         190.7 4.7       3.33 0.33 7.33 3.00 0.33
5 KA03AC2182   0        8.38         190.7 2.3       4.00 2.67 1.67 1.33 0.00
6 TS08AETR4205 0        8.73         189.0 6.0       2.67 0.33 3.67 1.67 0.00
  DP12 Rtag D_AoP D_Age D_Marital D_edu
1 0.33 R1   52    NA    NA        NA
2 0.00 R1   389   NA    NA        NA
3 0.33 R1   482   33    Married   SSC/HSC(10thpass)
4 1.00 R1   112   30    Single    SSC/HSC(10thpass)
5 0.00 R1   118   NA    NA        NA
6 0.00 R1   304   NA    NA        NA

In [27]:
ok=complete.cases(data)
sum(!ok)

[1] 101045

In [29]:
data.complete=data[ok,]

In [30]:
nrow(data.complete)

[1] 48322