In [1]:
import csv
with open ("C:/Users/ambalika.smiti/Documents/GitHub/Python_Codes/Bangalore - ML HandsOn\WineQuality\winequality-red.csv",'r') as f:
    wines=list(csv.reader(f,delimiter=";"))
print(wines[:3])

[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality'], ['7.4', '0.7', '0', '1.9', '0.076', '11', '34', '0.9978', '3.51', '0.56', '9.4', '5'], ['7.8', '0.88', '0', '2.6', '0.098', '25', '67', '0.9968', '3.2', '0.68', '9.8', '5']]

- Extract the last element from each row after the header row.
- Convert each extracted element to a float.
- Assign all the extracted elements to the list qualities.
- Divide the sum of all the elements in qualities by the total number of elements in qualities to the get the mean.

In [5]:
# item[-1] gives the last element if each row , here quality
qualities=[float(item[-1]) for item in wines[1:]]
sum(qualities)/len(qualities) # gives mean

5.6360225140712945

## Numpy2 Dimensional Arrays

Import the numpy package.

- Pass the list of lists wines into the array function, which converts it into a NumPy array.
- Exclude the header row with list slicing.
- Specify the keyword argument dtype to make sure each element is converted to a float. We'll dive more into what the dtype is later on.

In [8]:
import numpy as np

# 1st arg is data (exclude first header row), 2nd arg datatype
wines=np.array(wines[1:],dtype=np.float)
wines

array([[  7.4  ,   0.7  ,   0.   , ...,   0.56 ,   9.4  ,   5.   ],
       [  7.8  ,   0.88 ,   0.   , ...,   0.68 ,   9.8  ,   5.   ],
       [  7.8  ,   0.76 ,   0.04 , ...,   0.65 ,   9.8  ,   5.   ],
       ...,
       [  6.3  ,   0.51 ,   0.13 , ...,   0.75 ,  11.   ,   6.   ],
       [  5.9  ,   0.645,   0.12 , ...,   0.71 ,  10.2  ,   5.   ],
       [  6.   ,   0.31 ,   0.47 , ...,   0.66 ,  11.   ,   6.   ]])

In [15]:
# number of rows and columns in our data using the shape property
wines.shape #1599 rows and 12 columns

(1599, 12)

In [16]:
wines.dtype #should give float

dtype('float64')

In [18]:
wines_int=np.array(wines[1:],dtype=np.int)
wines_int

array([[ 7,  0,  0, ...,  0,  9,  5],
       [ 7,  0,  0, ...,  0,  9,  5],
       [11,  0,  0, ...,  0,  9,  6],
       ...,
       [ 6,  0,  0, ...,  0, 11,  6],
       [ 5,  0,  0, ...,  0, 10,  5],
       [ 6,  0,  0, ...,  0, 11,  6]])

# Alternative NumPy Array Creation Methods

In [20]:
import numpy as np
empty_array=np.zeros((3,5)) # create an array with 3 rows and 5 columns with 0 as elements
empty_array

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [21]:
import numpy as np
np.random.rand(3,4) #each element is a random number

array([[ 0.51880276,  0.35244066,  0.06327839,  0.44997068],
       [ 0.34076909,  0.32737887,  0.97684206,  0.16901281],
       [ 0.03407363,  0.66135515,  0.93938247,  0.53269098]])

# Using NumPy To Read In Files

It's possible to use NumPy to directly read csv or other files into arrays. We can do this using the numpy.genfromtxt function. We can use it to read in our initial data on red wines.

In the below code, we:

- Use the genfromtxt function to read in the winequality-red.csv file.
- Specify the keyword argument delimiter=";" so that the fields are parsed properly.
- Specify the keyword argument skip_header=1 so that the header row is skipped.

In [22]:
wines=np.genfromtxt("C:/Users/ambalika.smiti/Documents/GitHub/Python_Codes/Bangalore - ML HandsOn\WineQuality\winequality-red.csv",delimiter=";",skip_header=1)

In [23]:
wines

array([[  7.4  ,   0.7  ,   0.   , ...,   0.56 ,   9.4  ,   5.   ],
       [  7.8  ,   0.88 ,   0.   , ...,   0.68 ,   9.8  ,   5.   ],
       [  7.8  ,   0.76 ,   0.04 , ...,   0.65 ,   9.8  ,   5.   ],
       ...,
       [  6.3  ,   0.51 ,   0.13 , ...,   0.75 ,  11.   ,   6.   ],
       [  5.9  ,   0.645,   0.12 , ...,   0.71 ,  10.2  ,   5.   ],
       [  6.   ,   0.31 ,   0.47 , ...,   0.66 ,  11.   ,   6.   ]])

## Slicing numpy array

In [24]:
wines[0:3,3] #gives 1,2,3 rows from 3rd column

array([ 1.9,  2.6,  2.3])

In [25]:
#getting elements from odd columns
wines[1::2]

array([[  7.8  ,   0.88 ,   0.   , ...,   0.68 ,   9.8  ,   5.   ],
       [ 11.2  ,   0.28 ,   0.56 , ...,   0.58 ,   9.8  ,   6.   ],
       [  7.4  ,   0.66 ,   0.   , ...,   0.56 ,   9.4  ,   5.   ],
       ...,
       [  6.8  ,   0.62 ,   0.08 , ...,   0.82 ,   9.5  ,   6.   ],
       [  5.9  ,   0.55 ,   0.1  , ...,   0.76 ,  11.2  ,   6.   ],
       [  5.9  ,   0.645,   0.12 , ...,   0.71 ,  10.2  ,   5.   ]])

In [27]:
wines[:,3] #all rows from 4th columns

array([ 1.9,  2.6,  2.3, ...,  2.3,  2. ,  3.6])

In [28]:
len(wines[:,3])

1599

In [29]:
#extract all columns from 4th row
wines[3,:]

array([ 11.2  ,   0.28 ,   0.56 ,   1.9  ,   0.075,  17.   ,  60.   ,
         0.998,   3.16 ,   0.58 ,   9.8  ,   6.   ])

## Assigning values to numpy array

In [30]:

wines[1,5]=50
wines[1,5]

50.0

## 1- Dimensional Numpy Array

In [31]:
third_wine=wines[3,:]
print(third_wine)

[ 11.2     0.28    0.56    1.9     0.075  17.     60.      0.998   3.16
   0.58    9.8     6.   ]

In [32]:
np.random.rand(3)

array([ 0.71519393,  0.97234343,  0.62470942])

## N-dimensional numpy array

In [33]:
year_one = [
    [500,505,490],
    [810,450,678],
    [234,897,430],
    [560,1023,640]
]

In [34]:
earnings = [
            [
                [500,505,490],
                [810,450,678],
                [234,897,430],
                [560,1023,640]
            ],
            [
                [600,605,490],
                [345,900,1000],
                [780,730,710],
                [670,540,324]
            ]
          ]

In [35]:
earnings=np.array(earnings)
earnings[0,0,0]

500

In [38]:
earnings[1,1,1]

900

In [39]:
earnings[:,1,1]

array([450, 900])

## Numpy Data Types

- float -- numeric floating point data.
- int -- integer data.
- string -- character data.
- object -- Python objects.
- int32
- float32
- float64

## converting datatypes

In [40]:
wines.astype(int)

array([[ 7,  0,  0, ...,  0,  9,  5],
       [ 7,  0,  0, ...,  0,  9,  5],
       [ 7,  0,  0, ...,  0,  9,  5],
       ...,
       [ 6,  0,  0, ...,  0, 11,  6],
       [ 5,  0,  0, ...,  0, 10,  5],
       [ 6,  0,  0, ...,  0, 11,  6]])

In [41]:
int_wines=wines.astype(int)
int_wines.dtype.name

'int32'

# NumPy Array Operations

## Single Array Math

If you do any of the basic mathematical operations (/, *, -, +, ^) with an array and a value, it will apply the operation to each of the elements in the array.

In [45]:
wines[:,11]+10 #adding 10
wines[:,11]+=10 #adding 10 and storing
wines[:,11]

array([ 25.,  25.,  25., ...,  26.,  25.,  26.])

In [46]:
wines[:,11]*2

array([ 50.,  50.,  50., ...,  52.,  50.,  52.])

##  Multiple array math

In [47]:
wines[:,11]+wines[:,11] #added two columns

array([ 50.,  50.,  50., ...,  52.,  50.,  52.])

In [48]:
wines[:,10]*wines[:,11] #multiplication of 11th and 12th columns

array([ 235.,  245.,  245., ...,  286.,  255.,  286.])

## Broadcasting

The last dimension of each array is compared.
- If the dimension lengths are equal, or one of the dimensions is of length 1, then we keep going.
- If the dimension lengths aren't equal, and none of the dimensions have length 1, then there's an error.
- Continue checking dimensions until the shortest array is out of dimensions.

For example, the following two shapes are compatible:

A: (50,3)
B  (3,)
This is because the length of the trailing dimension of array A is 3, and the length of the trailing dimension of array B is 3. They're equal, so that dimension is okay. Array B is then out of elements, so we're okay, and the arrays are compatible for mathematical operations.

The following two shapes are also compatible:

A: (1,2)
B  (50,2)
The last dimension matches, and A is of length 1 in the first dimension.

These two arrays don't match:

A: (50,50)
B: (49,49)
The lengths of the dimensions aren't equal, and neither array has either dimension length equal to 1

In [49]:
rand_array=np.random.rand(12)
wines+rand_array

# Elements of rand_array are broadcast over each row of wines, 
#so the first column of wines has the first value in rand_array added to it, and so on.

array([[  8.38420353,   1.56820358,   0.5723961 , ...,   1.53442889,
          9.45583571,  25.29368373],
       [  8.78420353,   1.74820358,   0.5723961 , ...,   1.65442889,
          9.85583571,  25.29368373],
       [  8.78420353,   1.62820358,   0.6123961 , ...,   1.62442889,
          9.85583571,  25.29368373],
       ...,
       [  7.28420353,   1.37820358,   0.7023961 , ...,   1.72442889,
         11.05583571,  26.29368373],
       [  6.88420353,   1.51320358,   0.6923961 , ...,   1.68442889,
         10.25583571,  25.29368373],
       [  6.98420353,   1.17820358,   1.0423961 , ...,   1.63442889,
         11.05583571,  26.29368373]])

## NumPy Array Methods

In [50]:
wines[:,11].sum() # sum of 12th column

40992.0

In [53]:
# row wise addition
wines.sum(axis=0)

array([ 13303.1    ,    843.985  ,    433.29   ,   4059.55   ,
          139.859  ,  25409.     ,  74302.     ,   1593.79794,
         5294.47   ,   1052.38   ,  16666.35   ,  40992.     ])

In [52]:
# columna wise addition
# If we pass in axis=1, we'll find the sums over the second axis of the array. This will give us the sum of each row:
wines.sum(axis=1)

array([  94.5438 ,  168.0548 ,  119.699  , ...,  120.48174,  125.21547,
        112.49249])

In [54]:
wines.sum(axis=0).shape

(12,)

There are several other methods that behave like the sum method, including:

- numpy.ndarray.mean — finds the mean of an array.
- numpy.ndarray.std — finds the standard deviation of an array.
- numpy.ndarray.min — finds the minimum value in an array.
- numpy.ndarray.max — finds the maximum value in an array.

### NumPy Array Comparisons
mathematical comparison operations like <, >, >=, <=, and ==

In [55]:
wines[:,11]>5

array([ True,  True,  True, ...,  True,  True,  True], dtype=bool)

In [56]:
wines[:,11]==10

array([False, False, False, ..., False, False, False], dtype=bool)

### Subsetting

In [57]:
high_quality=wines[:,11]>7
wines[high_quality,:][:3,:]

array([[  7.40000000e+00,   7.00000000e-01,   0.00000000e+00,
          1.90000000e+00,   7.60000000e-02,   1.10000000e+01,
          3.40000000e+01,   9.97800000e-01,   3.51000000e+00,
          5.60000000e-01,   9.40000000e+00,   2.50000000e+01],
       [  7.80000000e+00,   8.80000000e-01,   0.00000000e+00,
          2.60000000e+00,   9.80000000e-02,   5.00000000e+01,
          6.70000000e+01,   9.96800000e-01,   3.20000000e+00,
          6.80000000e-01,   9.80000000e+00,   2.50000000e+01],
       [  7.80000000e+00,   7.60000000e-01,   4.00000000e-02,
          2.30000000e+00,   9.20000000e-02,   1.50000000e+01,
          5.40000000e+01,   9.97000000e-01,   3.26000000e+00,
          6.50000000e-01,   9.80000000e+00,   2.50000000e+01]])

In [58]:
#multiple condition - use &
high_quality_alcohol=(wines[:,10]>10)&(wines[:,11]>7)
wines[high_quality_alcohol,10:]

array([[ 10.5,  25. ],
       [ 10.5,  25. ],
       [ 10.5,  27. ],
       ...,
       [ 11. ,  26. ],
       [ 10.2,  25. ],
       [ 11. ,  26. ]])

In [59]:
high_quality_and_alcohol = (wines[:,10] > 10) & (wines[:,11] > 7)
wines[high_quality_and_alcohol,10:] = 20

### Reshaping

In [60]:
#The simplest reshaping is to flip the axes, so rows become columns, and vice versa. 
# We can accomplish this with the numpy.transpose function:

np.transpose(wines).shape

(12, 1599)

In [61]:
# flatten in single dimension
wines.ravel()

array([  7.4 ,   0.7 ,   0.  , ...,   0.66,  20.  ,  20.  ])

In [62]:
array_one=np.array([[1,2,3,4,],[5,6,7,8]])
array_one.ravel()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [63]:
#  The below code will turn the second row of wines into a 2-dimensional array with 2 rows and 6 columns:
wines[1,].reshape((2,6))

array([[  7.8   ,   0.88  ,   0.    ,   2.6   ,   0.098 ,  50.    ],
       [ 67.    ,   0.9968,   3.2   ,   0.68  ,   9.8   ,  25.    ]])

### Combining NumPy Arrays

In [4]:
#use numpy.vstack to vertically stack multiple arrays
import csv
import numpy as np
white_wines = np.genfromtxt("C:/Users/ambalika.smiti/Documents/GitHub/Python_Codes/Bangalore - ML HandsOn/WineQuality/winequality-white.csv", delimiter=";", skip_header=1)
white_wines.shape

(4898, 12)

In [9]:
all_wines=np.vstack((wines,white_wines))
all_wines.shape

(6497, 12)

### numpy.hstack - to add horizontally
### numpy.concatenate 
used as a general purpose version of hstack and vstack
If we want to concatenate two arrays, we pass them into concatenate, then specify the axis keyword argument that we want to concatenate along. Concatenating along the first axis is similar to vstack, and concatenating along the <second axis> is similar to hstack:

In [10]:
np.concatenate((wines,white_wines),axis=0)

array([[  7.4 ,   0.7 ,   0.  , ...,   0.56,   9.4 ,   5.  ],
       [  7.8 ,   0.88,   0.  , ...,   0.68,   9.8 ,   5.  ],
       [  7.8 ,   0.76,   0.04, ...,   0.65,   9.8 ,   5.  ],
       ...,
       [  6.5 ,   0.24,   0.19, ...,   0.46,   9.4 ,   6.  ],
       [  5.5 ,   0.29,   0.3 , ...,   0.38,  12.8 ,   7.  ],
       [  6.  ,   0.21,   0.38, ...,   0.32,  11.8 ,   6.  ]])

## NumPy Array Challenge

In [14]:
 #Create a 3 x 4 array filled with all zeros
zero_array=np.zeros((3,4))
print(zero_array)
    
# create 6 x 4 array filled with all 1s
one_array=np.ones((6,4))
print(one_array)

[[ 0.  0.  0.  0.]
 [ 0.  0.  0.  0.]
 [ 0.  0.  0.  0.]]
[[ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]]

In [18]:
# Concatenate both arrays vertically into a 9 x 4 array, with the all zeros array on top.
combined_array=np.concatenate((zero_array,one_array),axis=0)

first_column=combined_array[:,1]
print(first_column)

[ 0.  0.  0.  1.  1.  1.  1.  1.  1.]