# The Python Programming Language: Functions


# Basic Data Types

In [1]:
def quicksort(arr):
    if len(arr)<=1:
        return arr
    pivot=arr[len(arr)//2]
    left=[x for x in arr if x<pivot]
    middle=[x for x in arr if x==pivot]
    right=[x for x in arr if x>pivot]
    return quicksort(left)+middle+quicksort(right)
print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [6]:
x=3
print(type(x))
x+=1 # print 4
print(x)
x=x+4 #print 8
print(x)
x*=2 # print 16
print(x)
print(x**2) # sqaures the number
y=2.5
print(type(y)) # prints float
print(y, y+1, y*2)

<class 'int'>
4
8
16
256
<class 'float'>
2.5 3.5 5.0

# Boolean

In [11]:
t=True
f=False
print(t, f)
print(not t) #print not t, here false
print(t and f) # and loical condition here gives false
print (t or f) # or logical contidion - here gives true

True False
False
False
True

# Strings

In [16]:
hello='hello'
world='world'
print(hello, ' ', world)
print(hello*3)
print(len(hello))
hw12='%s %s %d' %(hello, world, 12) # sprintf style string formatting
print(hw12)

hello   world
hellohellohello
5
hello world 12

String objects have a bunch of useful methods; for example:

In [23]:
s='hello'
print(s.capitalize())
print(s.upper())
print(s.lower())
print(s.rjust(7))
print(s.center(6))
print(s.replace('l','ell'))
print('   world  '.strip()) #removes sapces from both ends

Hello
HELLO
hello
  hello
hello
heellello
world


# Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples

List

In [30]:
xs=[1,2,3] # can have different object ttypes
print(xs)
print(xs[0])
print(xs[-1])
print(xs[0:1]) #Slicing
print(xs[:-1]) # leave one from end
xs[2]='bar'
x=xs.pop() #remove and returns last element of xs
print(xs,x)

[1, 2, 3]
1
3
[1]
[1, 2]
[1, 2] bar

Loops

In [33]:
animals=['cat','dog','rat']
print(animals)
for animal in animals:
    print(animal)

['cat', 'dog', 'rat']
cat
dog
rat

 index of each element within the body of a loop, use the built-in enumerate function:

In [34]:
animals=['cat','dog','rat']
for idx, animal in enumerate(animals):
    print('#%d: %s' %(idx+1, animal))

#1: cat
#2: dog
#3: rat

# List comprehensions:

In [37]:
nums=list(range(5))
print(nums)
squares=[] #creating an empty list
for num in nums:
    squares.append(num**2)
print(squares)

[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [38]:
nums=list(range(5))
squares=[x**2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [40]:
nums=list(range(5))
even_squares=[x**2 for x in nums if x%2==0]
print(even_squares)

[0, 4, 16]

# Dictionaries

In [51]:
#key value pairs similar to map in JAVA or an object in javascript
d={'cat':'mew','dog':'bark','snake':'hiss'}
print(d)
print(d['cat'])
d['fish']='wet'
print(d)
print('cat' in d)
print(d.get('monkey','N/A')) #get an element with default, prints N/A
print(d.get('fish','N/A'))
del d['fish'] #remove an element from a dictionary
print(d)
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

{'cat': 'mew', 'dog': 'bark', 'snake': 'hiss'}
mew
{'cat': 'mew', 'dog': 'bark', 'snake': 'hiss', 'fish': 'wet'}
True
N/A
wet
{'cat': 'mew', 'dog': 'bark', 'snake': 'hiss'}
N/A

Loops: It is easy to iterate over the keys in a dictionary:

In [56]:
d={'cat':'mew','dog':'bark','snake':'hiss'}
for animal in d: #for key in dict
    sound=d[animal] #get values 
    print(' A %s has %s sound' % (animal, sound))

 A cat has mew sound
 A dog has bark sound
 A snake has hiss sound

If you want access to keys and their corresponding values, use the items method:

In [57]:
d={'cat':'mew','dog':'bark','snake':'hiss'}
for animal, sound in d.items():
    print('A %s has %s sound' %(animal, sound))

A cat has mew sound
A dog has bark sound
A snake has hiss sound

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [62]:
nums=list(range(5))
print(nums)
even_square={x:x**2 for x in nums if x%2==0}
print(even_square)

[0, 1, 2, 3, 4]
{0: 0, 2: 4, 4: 16}

# Sets
A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [65]:
animals={'cats','dogs'}
print('cat' in animals)
print('monkey' in animals)
print(len(animals))
animals.add('monkey')
print(animals)
animals.remove('cats')
print(animals)

False
False
2
{'dogs', 'monkey', 'cats'}
{'dogs', 'monkey'}

Loops: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [67]:
animals={'cats','dogs','snakes','rats','monkeys'}
for idx, animal in enumerate(animals):
    print('#%d: %s' %(idx+1, animal))

#1: dogs
#2: snakes
#3: cats
#4: rats
#5: monkeys

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [70]:
from math import sqrt
nums={int(sqrt(x)) for x in range(30)}
print(nums)

{0, 1, 2, 3, 4, 5}

# Tuples
A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example

In [71]:
d={(x,x+1): x for x in range(10)} # creating a dictionary 
t=(5,6)
print(type(t))
print(d[t])
print(d[1,2])

<class 'tuple'>
5
1

In [1]:
x=1
y=2
x+y

3

In [2]:
x

1

## Functions

In [73]:
def sign(num):
    if num>0:
        return 'positive'
    elif num<0:
        return 'negative'
    else:
        return 'Zero'
for x in [-2,-3,1,0,4]:
    print('%d had %s sign' %(x,sign(x)))

-2 had negative sign
-3 had negative sign
1 had positive sign
0 had Zero sign
4 had positive sign

We will often define functions to take optional keyword arguments, like this:

In [84]:
def sayhello(name, loud=False):
    if loud:
        print('Hello, %s!' %name.upper())
    else:
        print('Hello, %s!' %name)
sayhello('Bob')
sayhello('Marry',loud=True)

Hello, Bob!
Hello, MARRY!

In [4]:
def add_numbers(x,y):
    return x+y
print(add_numbers(1,2))

3

In [6]:
def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

# add_numbers updated to take an optional flag parameter.

In [7]:
def add_numbers(x,y,z=None, flag=False):
    if(flag):
        print('Flag is true!')
    if(z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1,2,flag=True))

Flag is true!
3

In [8]:
def add_numbers(x,y):
    return x+y
a=add_numbers
a(1,2)

3

## Classes

In [ ]:
class Greeter(object):

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

# The Python Programming Language: Types and Sequences

Use type to return object's type

In [9]:
type("this is a string")

str

In [10]:
type(None)

NoneType

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(add_numbers)

function

Tuples are immutable data structure (cannot be altered)

In [14]:
x=(1,'a',2,'b')
type(x)

tuple

List are mutable data structure

In [16]:
x=[1,'a',2,'b']
type(x)

list

use append to append an object to the list

In [17]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

This is an example of how to loop through each item in the list

In [19]:
for item in x:
    print(item)

1
a
2
b
3.3

Or using an indexing operator

In [20]:
i=0
while (i!=len(x)):
    print(x[i])
    i=i+1

1
a
2
b
3.3

Use + to concatenate lists

In [21]:
[1,2]+[3,4]

[1, 2, 3, 4]

use * to repeat the list

In [22]:
[1]*3

[1, 1, 1]

Use in operator to check something is inside the list

In [23]:
1 in [1,2,3]

True

Now lets look at the strings. Use bracker notation to slice a string

In [24]:
x='This is a string'
print(x[0]) #first character
print(x[0:1]) # 1st character, but we have explicitly set the end character
print(x[0:2]) #first two characters
#python index starts from 0 , it does not inclued the last one

T
T
Th

This will return the string starting at 4th place from last and stopping before 2nd element from last

In [27]:
x[-4:-2]

'ri'

This will return the last element of the string

In [25]:
x[-1]

'g'

this is a slice from the beginning of the string and stopping before 3rd element

In [28]:
x[:3]

'Thi'

This is a slice starting from 4th element and going to the end

In [29]:
x[3:]

's is a string'

In [30]:
firstname='Christopher'
lastname='Brooks'
print(firstname+ ' '+lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

split return a list of all the words in a string or a list split on a specific character

In [33]:
firstname='Christopher Arthur Hansen Brooks'.split(' ')[0] #[0] select the fisrt element of the list
lastname='Christopher Arthur Hansen Brooks'.split(' ')[-1] #[-1] select the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

Make sure you convert object to stirng before concatenating

In [34]:
'Chris'+2

TypeError: must be str, not int

In [35]:
'Chris'+str(2)

'Chris2'

Dictionary associates key with values- use colon to create dictionary i.e index:value in culry braces

In [36]:
x={'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [41]:
x['Kevyn Collins-Thompson']=None #assigned None value 
x['Kevyn Collins-Thompson']

Iterate over all values of keys

In [42]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None
None
None
None

Iterate over all of the values

In [43]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None
None
None
None

Iterate over all the items in the list

In [44]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyin Colins- Thompson
None
Kevyin Collins- Thompson
None
Kevyn Collins- Thompson
None
Kevyn Collins-Thompson
None

Unpack a sequence into different variables

In [45]:
x=('Christopher', 'Brooks','brooks@umich.edu')
fname, lname, email=x

In [47]:
print(fname)
print(lname)
print(email)

Christopher
Brooks
brooks@umich.edu

Make sure the number of values you are unpacking matches the number of variables being assigned.

In [48]:
x=('Christopher', 'Brooks','brooks@umich.edu','Ann Arbour')
fname, lname, email=x

ValueError: too many values to unpack (expected 3)

# The Python Programming Language: More on Strings

In [49]:
print('Chris'+2)

TypeError: must be str, not int

In [51]:
print('Chris'+str(2))

Chris2

Python has a built in method for convenient string formatting.

# Numpy